
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
env/
bin/
lib/


.pytest_cache/
.cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.log





auth_token.txt
*.secret

logs/
reports/
artifacts/


.idea/
.vscode/
*.swp

main.py
allure-results

